
.vs/PdfSignature/v16/.suo
.vs/PdfSignature/v16/Browse.VC.db
.vs/PdfSignature/v16/Browse.VC.db-shm
.vs/PdfSignature/v16/Browse.VC.db-wal
.vs/PdfSignature/v16/Browse.VC.opendb
.vs/PdfSignature/v16/ipch/AutoPCH/35738264bea3321/GENKEY.ipch
.vs/PdfSignature/v16/ipch/AutoPCH/bf2b4bcaa3b96ad7/BASE64.ipch
.vs/PdfSignature/v16/ipch/AutoPCH/e08c6eab54ba5b3c/PDF_SIGNING.ipch
.vs/PdfSignature/v16/ipch/e435cbd630a3c082.ipch
*.ipch
.vs/PdfSignature/v16/TestStore/0/000.testlog
.vs/PdfSignature/v16/TestStore/0/testlog.manifest
