
.vs/PdfSignature/v16/.suo
.vs/PdfSignature/v16/Browse.VC.db
.vs/PdfSignature/v16/Browse.VC.db-shm
.vs/PdfSignature/v16/Browse.VC.db-wal
.vs/PdfSignature/v16/Browse.VC.opendb
.vs/PdfSignature/v16/ipch/AutoPCH/35738264bea3321/GENKEY.ipch
.vs/PdfSignature/v16/ipch/AutoPCH/bf2b4bcaa3b96ad7/BASE64.ipch
.vs/PdfSignature/v16/ipch/AutoPCH/e08c6eab54ba5b3c/PDF_SIGNING.ipch
.vs/PdfSignature/v16/ipch/e435cbd630a3c082.ipch
*.ipch
.vs/PdfSignature/v16/TestStore/0/000.testlog
.vs/PdfSignature/v16/TestStore/0/testlog.manifest
x86/libpng16.dll
x86/lzma.dll
x86/libcrypto-1_1.dll
x86/jpeg62.dll
x86/freetype.dll
x86/bz2.dll
x86/brotlidec.dll
x86/brotlicommon.dll
Release/zlib1.dll
Release/tiff.dll
Release/podofo.dll
Release/PdfSignature.pdb
Release/PdfSignature.lib
Release/PdfSignature.exp
Release/PdfSignature.exe
Release/lzma.dll
Release/libpng16.dll
Release/libcrypto-1_1.dll
Release/jpeg62.dll
Release/freetype.dll
Release/bz2.dll
Release/brotlidec.dll
Release/brotlicommon.dll
x86/PdfSignature.exe
x86/zlib1.dll
x86/tiff.dll
x86/podofo.dll
x86/PdfSignature.pdb
x86/PdfSignature.lib
x86/PdfSignature.exp
Release.rar